:root {
  --color-light: #f0f0f0;
  --color-dark: #2e2e2e;

  /* AVX512 */
  --color-accent: #3DC2EC;
  /* Similar Performance */
  --color-secondary: #7c8a5f;

  --shadow-box: rgba(0, 0, 0, 0.15);
  --color-background: #402E7A;
  --color-gradient-start: rgba(58, 45, 111, 0.7);
  --primary-gradient-end: rgba(79, 58, 143, 0.7);
  --secondary-gradient-end: rgb(108, 91, 154);
  --pink-light: rgba(226, 187, 233, 0.8);
  --secondary-gradient-start: rgba(79, 58, 143, 1.0);
  --color-gradient-end: rgba(108, 91, 154, 0.7);
  --primary-gradient-start: rgba(58, 45, 111, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
}

main {
  flex: 1;
}