.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .section {
    padding: 2rem 0;
    border-bottom: 1px solid #4B70F5;
    text-align: center; 
  }
  
  .h2 {
    padding-top: 20px;
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    color: var(--pink-light);
  }
  