.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    border-bottom: 1px solid #4B70F5;
    backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.links {
    display: flex;
    gap: 2rem;
}

.links li {
    list-style: none;
    
}
.links a {
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 1rem;
}

.navbar a:hover {
    color: var(--color-accent);
    text-shadow: 0 0 5px var(--color-accent);
}

.toggle_btn {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

.action_btn {
    background: linear-gradient(90deg, #7B61FF 0%, #5A37F7 100%);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background 0.3s ease, transform 0.3s ease;
}

.action_btn:hover {
    background: linear-gradient(90deg, #5A37F7 0%, #7B61FF 100%);
    transform: scale(1.05);
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    background-color: rgba(108, 91, 154, 0.9);
    backdrop-filter: blur(15px);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.dropdown_menu.open {
    display: flex;
}

.dropdown_menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.dropdown_menu .action_btn {
    width: 80%;
    padding: 5px;
    display: flex;
    font-size: medium;
    justify-content: center;
}

.close_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 1150px) {
    .navbar {
        padding: 0 1rem;
    }

    .links,
    .action_btn {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .navbarLogo h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 0 0.5rem;
    }

    .navbarLogo h1 {
        font-size: 1rem;
    }

    .toggle_btn {
        font-size: 2rem;
    }

    .dropdown_menu {
        width: 100%;
        padding: 1rem 0.5rem;
        right: 0;
    }

    .dropdown_menu a {
        font-size: 1.2rem;
        padding: 0.1rem 0;
    }
}

