.container {
  padding: 20px;
  background: linear-gradient(135deg, var(--color-gradient-start), var(--primary-gradient-end));
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 1.4rem;
  color: var(--color-light);
  margin-bottom: 10px;
}

.legend {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.9rem;
  color: var(--color-accent);
}

.legendItem {
  font-size: 0.9rem;
  line-height: 1.6;
}

.strong {
  font-weight: bold;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: linear-gradient(135deg, rgba(108, 91, 154, 0.8), rgba(142, 155, 157, 0.8));
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: var(--color-light);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.gameImage {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--color-light);
}

.cardContent {
  padding: 10px;
}

.gameTitle {
  color: var(--color-light);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.bottleneck, .recommendedCpu {
  margin: 6px 0;
  color: var(--color-light);
  font-size: 1.0rem;
}

.bottleneck strong, .recommendedCpu strong {
  color: var(--color-dark);
  font-size: 1.0rem;
}

.highlightedCpu {
  font-size: 1.0rem;
  font-weight: bold;
  color: var(--color-light);
  background: linear-gradient(135deg, var(--secondary-gradient-start), var(--secondary-gradient-end));
  padding: 8px;
  border-radius: 5px;
  white-space: normal; 
  overflow: visible; 
  text-overflow: clip; 
  max-width: 100%; 
  box-sizing: border-box; 
  display: block;
  list-style-type: none; /* Lista em formato de disco */
  padding-left: 10px; /* Espaço à esquerda para as bullets */
}

.highlightedCpu li {
  background: linear-gradient(135deg, rgba(108, 91, 154, 0.8), rgba(142, 155, 157, 0.8)); /* Gradiente semelhante ao da imagem */
  padding: 8px 12px; /* Espaçamento interno para o texto */
  border-radius: 5px; /* Arredonda os cantos */
  color: #ffffff; /* Cor do texto branca */
  margin-bottom: 6px; /* Espaçamento entre os itens da lista */
  font-weight: bold; /* Deixa o texto em negrito */
  text-align: center; /* Centraliza o texto dentro do item */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para dar um efeito de profundidade */
}


.error {
  color: red;
  text-align: center;
  margin: 20px;
}
